
* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5px;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
    font-size: xx-large;
}

.btns {
    display: flex;
    flex-direction: column;
}

.btn {
    display: flex;
    justify-content: center;
}

table {
    font-size: 1.5rem;
}